.intro__title {
  margin: 11.6% 0 auto 0;
  max-width: 690px;
  font-size: calc(32px + 22 * (100vw / 1280));
  line-height: calc(35px + 23 * (100vw / 1280));
}
@media screen and (min-width: 300px) and (max-width:400px) {
  .intro__title {
    margin: 50px auto 0;
    width:288px;
    font-size: 32px;
    line-height: 35px;
  }
}
