.footer {
  width: 97%;
  display: flex;
  max-width: 1184px;
  margin: auto;
  padding-bottom: 24px;
  
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .footer {
    display: grid;
    
  }
}
