@media screen and (min-width: 320px) {
  .section-subtitle {
    max-width: 640px;
    margin: auto;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    font-size: 2.25rem;
  }
}
