@media (min-width: 320px) {
  .section-subtitle {
    max-width: 640px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    font-size: calc(16px + (14 + 14 * 0.7) * ((100vw - 320px) / 1280));
  }
}
