.footer__author {
  grid-area: author;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 0 0 16px;
  text-align: end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .footer__author {
    font-size: 14px;
    line-height: 14px;
    margin:48px 16px 0 0;
  }
}
