.lead__text {
  padding-top: 8px;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;

  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (min-width:500px) and (max-width:800px) {
  .lead__text{
    margin:0 24px 8px;
  }
}
@media screen and (min-width:280px) and (max-width:400px){
  .lead__text{
    margin-left: 16px;
  }
}