.places__card {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 100%));
  margin: 90px 0 0 0;
  gap:40px;
}
@media screen and (max-width: 500px) and (min-width: 310px) {
  .places__card {
    display: grid;
    gap:16px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 100%));
    margin: 90px 0 0 0;
    align-items: ;
  }
}
