@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/__inter/static/Inter-Black.ttf) format("truetype");
  src: url(/fonts/__inter/static/Inter-Regular.ttf) format("truetype");
  src: url(/fonts/__inter/static/Inter-SemiBold.ttf) format("truetype");
  
}
@font-face {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/__inter/static/Inter-Bold.ttf);
}

