@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(./__inter/static/Inter-Black.woff) format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  src: url(./__inter/static/Inter-Bold.woff2)format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url(./__inter/static/Inter-Regular.ttf) format("truetype"),
    url(./__inter/static/Inter-Regular.woff) format("woff");
}
