.footer__link {

  text-decoration: none;
  padding-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: calc(16px + 8 * (100vw /1280));
  line-height: calc(18px +6 * (100vw/1280));
  color: #FFFFFF;
}
.footer__link:hover {
  
  text-decoration: underline;
}
