.places__link {
    display: grid;
  grid-area: link;
  padding-bottom: 40px;
  max-width: 456px;
  max-height: 22px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
