.places__title {
  max-width: 460px;
  max-height: 152px;
  margin: 73px 0 18px 0 ;
  font-style: normal;
  font-weight: 900;
  font-size: calc(32px + 40 * (100vw / 1280));
  line-height: calc(35px + 41 * (100vw / 1280));
}
@media screen and (width:320px) {
  .places__title {
    margin:30px auto 32px;
    width:288px;
  }
}
