.places__image {
  min-width: 460px;
  min-height: 460px;
  object-fit: cover;
}
@media screen and (min-width: 300px) and (max-width: 1050px){
  .places__image{

  }
}
@media screen and (min-width: 300px) and (max-width: 800px){
  .places__image{
    justify-self: center;
    max-width: 340px;
    margin: 0 0 32px 0;
  }
}
