.places__image {
  max-width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 300px) and (max-width: 767px){
  .places__image{
    width: 340px;
    height: 340px;
  }
}
@media screen and (min-width: 300px) and (max-width: 767px){
  .places__image{
    margin: 0 0 32px 0;
  }
}
