.photo-grid__item {
  max-width: 100%;
}
@media screen and (max-width: 1300px) {
  .photo-grid__item {
    width: 284px;
    height: 213px;
  }
}
@media screen and (min-width: 450px) and (max-width: 800px) {
  .photo-grid__item {
    width: 352px;
    height: 264px;
  }
}
